* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #77a4ff !important;
    color: #3e4546;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}


p {
    font-size: 300%;
    line-height: 1.7;
    font-family: 'Montserrat' ;

}
/*Nav*/
nav{
    background-color: #4F8AFF !important;
    /*font-size: 20px !important;*/
}

.nav-link{
    font-size: 23px !important;
}
.navbar-dark .navbar-nav .nav-link {
    color: white !important;
}


/*------- HEADER ------------*/

header {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://images.pexels.com/photos/2035413/pexels-photo-2035413.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    text-align: center;
    color: #fff;
    width: 100%;
    text-align: center;
}

.text-box {
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

#name {
    font-family: 'Bungee Shade' ;
    font-size: 450%;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #fff;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
}

.text-box p {
    text-align: center;
    /*font-style: italic;*/
    margin-bottom: 30px;
}

/*-----BUTTON ------*/
.btn{
    text-decoration: none !important;
}
.btn:link,
.btn:visited,
input[type=submit] {
    font-family: 'Montserrat' ;
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    border-radius: 150px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    background: #4F8AFF;
    border: 2px solid #5C66FF;
    color: #fff;
    font-size: 150%;
    margin-right: 20px;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #7C7EFF;
    color: #fff !important;
    transition: 0.3s;
}



/*about me*/
.aboutMe {
    background-color: #77a4ff !important;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 3rem;
    margin-left: 45% !important;
    color: white;
    font-weight: normal;
}

.column {
    float: left;
    width: 50%;
    padding: 0 0;
}

.row {margin: 0 -5px;}

.row:after {
    content: "";
    display: table;
    clear: both;
}
.card {
    font-size: 9px;
    padding: 16px;
    /*text-align: center;*/
    margin-left: 50px;
    margin-right: 0;
    /*background-color: #f1f1f1;*/
    border-radius: 2.25rem !important;
    margin-bottom: 30px;
    background-color: #77a4ff !important;
    border: none !important;
}
#photo {
    width: 87% !important;
    margin-left: 50px;
}
p {
    padding-left: 10px;
}
#aboutPara{
    margin-top: 35px;
    background-color: white !important;
}