* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #CCD0CF !important;
    color: #3e4546;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}


p {
    font-size: 300%;
    line-height: 1.7;
    font-family: 'Montserrat';

}

/*-------NAV-------------*/
nav {
    background-color: #2F4C5D !important;
    /*font-size: 20px !important;*/
}

.nav-link {
    font-size: 23px !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: white !important;
}


/*------- HEADER ------------*/

header {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, -0.6)), url(https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    text-align: center;
    color: #fff;
    width: 100%;
    text-align: center;
}

.text-box {
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

#name {
    font-family: 'Bungee Shade';
    font-size: 450%;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #fff;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
}

.text-box p {
    text-align: center;
    /*font-style: italic;*/
    margin-bottom: 10px;
}

.text-box {
    background: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 49rem;
    padding: 20px 50px;
    border: 4px solid #fff;
    text-align: center;

}

/*-----BUTTON ------*/
.btn {
    text-decoration: none !important;
}

.btn:link,
.btn:visited,
input[type=submit] {
    font-family: 'Montserrat';
    display: inline-block;
    padding: 10px 30px;
    /*font-weight: 300;*/
    border-radius: 150px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    background: #92c3db;
    border: 2px solid #87aec1;
    color: #fff;
    font-size: 86%;
    margin-top: 40px;
    margin-left: 44%;
    margin-right: 20px;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #093347;
    border: 2px solid #093347;

    color: #fff !important;
    transition: 0.3s;
}


/*-------ABOUT ME-------*/
.about-myself {
    text-align: center;
    padding: 50px 0;
    height: 31rem;
    background-color: #2F4C5D;
}


#aboutMe {
    margin-top: 66px;
    margin-bottom: 39px;
    text-align: center;
    display: inline-block;
    color: white;
    font-family: 'Bungee Shade';
    font-size: 63px;

}

.aboutmePara {
    color: white;
    max-width: 83rem;
    margin-left: 2%;
    margin-right: 2%;
    /*margin: auto;*/
    text-align: left;
    font-size: 25px;
}

.img-profile {
    max-width: 15%;
    position: absolute;
    left: 51%;
    top: 105%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

/*------VALUES------*/
.skillsCards {
    font-size: 9px;
    margin-top: 60px;
    margin-left: 22px !important;
    margin-right: 21px !important;
    /*margin-top: 100px !important;*/
    margin-bottom: 30px !important;
    font-family: 'Muli', sans-serif !important;

}

#valuesTitle {
    font-family: 'Bungee Shade';
    color: white;
    font-size: 66px;
    margin-top: 32px;
    margin-left: 41%;
    padding-bottom: 50px;
}

.valuesSection {
    height: 20rem;
}

.card-deck .card {
    background: none !important;
    border: none !important;
}

.card-img-top {
    height: 100px !important;
    width: 100px !important;
    /*margin-left: 180px !important;*/
}

#userExperience {
    margin-left: 13%;
    color: #637C89;
}

#creative {
    margin-left: 13%;
    color: #637C89;
}

#teamwork {
    margin-left: 15% !important;
    color: #637C89;
}

#teamImg {
    margin-left: 38%;
}

#creativeImg {
    margin-left: 34%;
}

#userExperienceImg {
    margin-left: 34%;
}


/*PORTFOLIO*/
#portfolioTitle {
    color: white;
    font-family: 'Bungee Shade';
    font-size: 63px;
    padding-top: 35px;
    margin-left: 35.5%;

}

.portfolio {
    /*padding: 70px 10px;*/
    height: 40rem !important;
    background-color: #637C89;
}

h2 {
    margin-bottom: 50px;
}

.projects {
    padding-top: 3%;
    display: block;
    width: 100%;
    max-width: 1378px;
    margin: auto;
}

.project {
    position: relative;
    display: block;
    float: left;
    width: 30%;
    margin-left: 1.6666%;
    margin-right: 1.6666%;
    margin-bottom: 3%;
}

img {
    width: 100%;
}

.hover .project-overlay {
    opacity: 1;
}

.hover .project-details {
    opacity: 1;
    top: 50%;
}

.project-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.project-details {
    line-height: normal;
    opacity: 0;
    padding-left: 1em;
    padding-right: 1em;
    position: absolute;
    text-align: center;
    top: 55%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    -webkit-transition: all 0.4s ease-out 0s;
    -moz-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
}
#healthology{
    width: 100%;
    height: 13.6rem;
}
#lessonLister{
    height: 13.6rem;
}
#weathermap{
    height: 13.6rem;
}
#coffeeProject{
    height: 13.6rem;
}
#designProject{
    height: 13.6rem;
}

/*CONTACT*/

footer {
    list-style-type: none !important;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #CCD0CF;

}

.footer-item {
    float: left;
    list-style-type: none !important;

}

.footer-item a {
    /*display: block;*/
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none !important;
    display: inline-block !important;
}